# What you will learn in this notebook

In this notebook we will cover the following:

1. Dataframes 
    1. Making dataframes from series
    2. What if my data isn't a pandas Series?
    3. Getting the index and column values
2. Previewing and describing a DataFrame
    1. Previewing the DataFrame or part of it
    2. Retrieving DataFrame information
3. Reading data from files into pandas dataframes
4. Writing data from pandas into files

# Imports

In [ ]:
import pandas as pd
import os

# What is a DataFrame

A 2D, potentially heterogenous, tabular structure. It can be thought of as a container of Series. It is also possible to have 1-dimensional dataframes (dataframes with one column). The documentation on DataFrame is available on the `pandas.DataFrame` [documentation page](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) 

Below is an example of a DataFrame with PokÃ©mon characteristics. Notice the different datatypes - numeric, string, and boolean.


![](../media/pokemon.png)

Let's create our first DataFrame:

In [ ]:
df1 = pd.DataFrame([10,122,1])
df1

Now this might look like a pandas Series on the first sight, but it behaves differently in some ways (and similarly in others). The DataFrame has an index as a Series, but additionally it has column names (the zero above the horizontal line in this example). Remember that when printing Series, pandas automatically printed the `datatype`? It does not happen with the DataFrame. The DataFrame as a whole does not have a datatype, but each of its columns does.

Let's print the dataframe column. We use **square brackets** with the column name to select it. In this case, the **column name** is just a number. (If you remember from the Series section, this was the way to select the Series rows - the first difference!)


A DataFrame column called in this way is actually a pandas `Series`:

In [ ]:
df1[0] # this selects the column with name 0

You can select a column and have the result be a dataframe using **double brackets**:

In [ ]:
df1[[0]]

You probably guessed by the look of it that this is a `DataFrame`! 

Remember: 

1. one pair of brackets --> **Series**
2. two pairs of brackets --> **DataFrame**

Now on to a dataframe with more columns. We will also pass a list of `column names` and another list for the `index`, using the appropriate arguments.

In [ ]:
# ignore the weird spacing, it's just to make clear that we have 3 lists of 3 elements
# notice that this is a list of lists

df2 = pd.DataFrame([[1,   2,   7],  
                    [4.2, 6.1, -4.1], 
                    ["a", "b", "z"] ],
                    columns=['col1','col2','col3'],  # <- column names
                    index=['row1','row2','row3'])    # <- row names
df2

In [ ]:
int(1.5)

In [ ]:
df2.iloc[:int(df2.shape[0]/2),:]

In [ ]:
df2.loc['row1',['col2','col3']]

Looking at the result, we can see that each list represents a row. What if you want to input the values by columns? You can use `dictionaries`:

In [ ]:
df3=pd.DataFrame(data = { 'col1':[1,   2,   7],  
                   'col2':[4.2, 6.1, -4.1], 
                   'col3':["a", "b", "z"] 
                 },
                 index=['row1','row2','row3']
                )
df3

Very often, your data comes in lists, including the column names. It's easy to zip them into a `dictionary`

In [ ]:
column_names=["company","founder_name","founder_surname"]

company = ["PiggyVest","Bumble","Backstage Capital","Blendoor","LungXpert", "Cisco","Eventbrite",
                "Adafruit Industries","Verge Genomics","23andme"]
founder_name = ["Odunayo","Whitney","Arlan","Stephanie","Sasikala","Sandy","Julia","Limor","Alice","Anne"]
founder_surname = ["Eweniyi","Wolfe Heard","Hamilton","Lampkin","Devi","Lerner","Hartz","Fried","Zhang","Wojcicki"]

In [ ]:
tech_companies_dictionary=dict(zip(column_names,[company,founder_name,founder_surname]))
tech_companies_dictionary

... then pass it to a `DataFrame`

In [ ]:
df6 = pd.DataFrame(tech_companies_dictionary)
df6

# Making DataFrames from Series

In [ ]:
# Let's say we have these lists somewhere on our computer: 
column_names=["company","founder_name","founder_surname"]

company = ["PiggyVest","Bumble","Backstage Capital","Blendoor","LungXpert", "Cisco","Eventbrite",
                "Adafruit Industries","Verge Genomics","23andme"]
founder_name = ["Odunayo","Whitney","Arlan","Stephanie","Sasikala","Sandy","Julia","Limor","Alice","Anne"]
founder_surname = ["Eweniyi","Wolfe Heard","Hamilton","Lampkin","Devi","Lerner","Hartz","Fried","Zhang","Wojcicki"]

Let's make some series, using the company name as index:

In [ ]:
series_of_founder_names = pd.Series(data=founder_name, # <-- data 
                                    index=company,     # <-- index 
                                   )
series_of_founder_names

Same thing, this time for surnames:

In [ ]:
series_of_founder_surnames = pd.Series(data=founder_surname, # <-- different data
                                       index=company,           # <-- same index 
                                      )
series_of_founder_surnames

Now with these two series we can create a dataframe! Pandas will notice that they have the same index, and will give the dataframe that index:

In [ ]:
df7 = pd.DataFrame({'founder_name': series_of_founder_names,  
                    'founder_surname': series_of_founder_surnames})
df7

Other ways you can `concatenate` two or more series into a dataframe:

In [ ]:
pd.concat([series_of_founder_names, series_of_founder_surnames],axis=1)

Wait a minute, where are our expected `column names`?

Pandas filled the columns names automatically like it always does. When concatenating multiple series to form a dataframe, pandas will use the `.name` attribute of each series as a column.

In [ ]:
series_of_founder_names.name

But this returned nothing, which means our series don't have a name. Let's name them!

In [ ]:
series_of_founder_names = series_of_founder_names.rename('founder_name')
series_of_founder_surnames = series_of_founder_surnames.rename('founder_surname')

And now we try again

In [ ]:
pd.concat([series_of_founder_names, series_of_founder_surnames],axis=1)

great!

## What if the data you are merging does not have the same index?

Let's try to another another info about each company: the **number of employees** they have.

In [ ]:
number_of_employees = [71, 700, 12, 20, 10, 79500, 1000, 105, 49, 683]

series_number_of_employees = pd.Series(data=number_of_employees) # <-- data, no index 
# this has an index, although we did not pass it - Series always has an index
series_number_of_employees

Now, you may be tempted to add this series directly to the dataframe, and pandas won't stop you:

In [ ]:
df8 = pd.DataFrame({'founder_name': series_of_founder_names,  
                    'founder_surname': series_of_founder_surnames,
                    'number_employees': series_number_of_employees})
df8

<font style="position:absolute; top:2em;opacity:0;"></font>

![](../media/what-the-hell-is-this.jpg)

When joining multiple `series` into a `dataframe`, `Pandas` will create a row for each unique index value present in all of the series. Then starts to fill the column values of each row wherever the index match. Unfortunately the first 2 series don't match any index of the this 3rd series we merged into, generating this mess.

Remember to **think about the index** when combining `series` into `dataframes`!

In [ ]:
series_number_of_employees_indexed = pd.Series(data=number_of_employees,index=company)
df9 = pd.DataFrame({'founder_name': series_of_founder_names,  
                    'founder_surname': series_of_founder_surnames,
                    'number_employees': series_number_of_employees_indexed})
df9

That's better!

# Getting the index and column values

The `DataFrame object contains a few attributes that are useful for getting an overview of your data.

Get the index (row names), with `.index`:

In [ ]:
df9.index

Get the column names, with `.columns`:

In [ ]:
df9.columns

Among other things, this might be used to **iterate** over the column names:

In [ ]:
for col in df9.columns:
    print(col)

We can also use `dtypes` to know the type of each column in the dataframe:

In [ ]:
df9.dtypes

To get the underlying data as an array, use `.to_numpy()` or `.values`. The array will be 2D, as the dataframe.

In [ ]:
df9.to_numpy()

In [ ]:
df9.values

# Previewing and Describing a DataFrame

In a jupyter notebook, calling a DataFrame will display it (as seen previously):

In [ ]:
df9

## .loc and .iloc in Pandas DataFrames

![](https://i.imgflip.com/98w4d0.jpg)

In [ ]:
# what do you expect this will return?
df9['founder_name']

In [ ]:
# Select all rows, and column 'founder_surname'
df9.loc[:,'founder_surname']

In [ ]:
# Select all rows, and both those two columns
df9.loc[:,['founder_surname','number_employees']]

In [ ]:
# select the row with index value 'PiggyVest', and all columns
df9.loc['PiggyVest',:]

In [ ]:
# select the row with index value 'PiggyVest', and the column 'number_employees'
df9.loc['LungXpert','number_employees']

In [ ]:
# all rows, all columns
df9.iloc[:,:]
df9.loc[:,:] # same thing

In [ ]:
# first 3 rows, last two columns
df9.iloc[:3,-2:]

If the dataframe has a lot of entries, it will be only partially displayed. Nonetheless, it might still be too much information being displayed at once. An alternative are the `.head()` and `.tail()` methods which print only a certain number of entries from the top and bottom of the dataframe, respectively.

In [ ]:
df9.head(n=2)

In [ ]:
df9.tail(n=3)

## Retrieving DataFrame Information

`.shape` returns a tuple with the dimensions of the dataframe (number_of_rows, number_of_columns).

In [ ]:
df9.shape

With `.info()`, we obtain:

- the number of entries
- the number of columns
- the title of each column
- the number of entries that in fact exists in each column (does not consider missing values!)
- the type of data of the entries of a given column.

In [ ]:
df9.info()

For the numerical columns it's also possible to obtain basic statistical information using `.describe()`:

- the number of rows for each numerical column
- the mean value
- the standard deviation
- the minimum and maximum value
- the median, the 25th and 75th percentile.

In [ ]:
df9.describe()

# Read data from files into pandas dataframes

Pandas has functions that allow us to create `dataframes` form several different types of data `files`:

- CSV
- JSON
- HTML
- ... and [many more](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

All of this is possible by using the `pd.read_` methods.

For instance, using the 2010 census profile and housing characteristics of the city of Los Angeles ([source](https://catalog.data.gov/dataset/2010-census-populations-by-zip-code)):

In [ ]:
local_path = os.path.join("..","data","2010_Census_Populations_by_Zip_Code.csv")
url = 'https://raw.githubusercontent.com/samsung-ai-course/6-7-edition/refs/heads/main/Data%20Wrangling/Data%20Wrangling%20-%20Pandas-101/data/2010_Census_Populations_by_Zip_Code.csv'
census_2010 = pd.read_csv(local_path)

This is the resulting DataFrame:

In [ ]:
census_2010.head()

It's shape is:

In [ ]:
census_2010.shape

Let's use `.info()` to get an overview of the column variables:

In [ ]:
census_2010.info()

Wait pandas thinks the zip code is a numerical column, let's change that:

In [ ]:
census_2010 = census_2010.astype({'Zip Code':str})
census_2010.dtypes

Fixed!

And `.describe()` for basic statistics:

In [ ]:
census_2010.describe()

# Writing data from pandas into files

Besides reading from the disk, Pandas allows us to save our dataframe to a file.

In [ ]:
filename = 'processed_data.csv'

# if you are local
#census_2010.to_csv(os.path.join("..","data",filename))

# if you are on a colab notebook
#census_2010.to_csv(f'/content/{filename}')

You should now have a new file called `new_csv.csv` in your `data` folder!

The same way we can read data from various files types, we can also write data to various file types (CSV, JSON, HTML, ...) All of this is possible by using the to_dataFormat method, giving as an argument the path where you want to save the file. For example, you can write to the JSON format using `to_json`, or to an Excel spreadsheet using `to_excel`, and so on.

# Useful Links

- [Pandas Getting Started tutorials](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/index.html)


- [Intro to data structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)